<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <div class="box1">

			<fieldset class="form-group">
				<label class="form-label semibold" for="exampleInput">Usuario</label>
				<input type="text" class="form-control" id="usurio">
			</fieldset>

            <fieldset class="form-group">
				<label class="form-label semibold" for="exampleInput">Correo</label>
				<input type="text" class="form-control" id="correo">
			</fieldset>

            <fieldset class="form-group">
				<label class="form-label semibold" for="exampleInput">Contraseña</label>
				<input type="text" class="form-control" id="cont1">
			</fieldset>

            <fieldset class="form-group">
				<label class="form-label semibold" for="exampleInput">Repetir contraseña</label>
				<input type="text" class="form-control" id="cont2">
			</fieldset>

            <div class="form-group boton-center">
				<button type="button" class="btn btn-inline">Crear</button>
			</div>
        </div>

    </body>
</html>
